# Import necessary libraries

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose
import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette("deep")
plt.rcParams['figure.figsize'] = [14, 8]
plt.rcParams['font.size'] = 12

# Load datasets from Google Drive

In [ ]:

base_path = "/content/drive/MyDrive/Design_Project/"

# Load each dataset
lfs_month = pd.read_csv(base_path + "lfs_month.csv")
lfs_month_sa = pd.read_csv(base_path + "lfs_month_sa.csv")
lfs_month_youth = pd.read_csv(base_path + "lfs_month_youth.csv")
lfs_month_duration = pd.read_csv(base_path + "lfs_month_duration.csv")
lfs_month_status = pd.read_csv(base_path + "lfs_month_status.csv")

# Display basic information about the datasets
print("Datasets loaded successfully!")

Datasets loaded successfully!

# Check the structure of each dataset

In [ ]:

def examine_dataset(df, name):
    print(f"\n{'-'*40}\nDataset: {name}\n{'-'*40}")
    print(f"Shape: {df.shape}")
    print("\nFirst 5 rows:")
    print(df.head())
    print("\nData types:")
    print(df.dtypes)
    print("\nBasic statistics:")
    print(df.describe())
    print("\nMissing values:")
    print(df.isnull().sum())
    print(f"{'-'*40}\n")

# Examine each dataset
examine_dataset(lfs_month, "Labor Force Survey Monthly")
examine_dataset(lfs_month_sa, "Labor Force Survey Monthly (Seasonally Adjusted)")
examine_dataset(lfs_month_youth, "Labor Force Survey Monthly (Youth)")
examine_dataset(lfs_month_duration, "Labor Force Survey Monthly (Unemployment Duration)")
examine_dataset(lfs_month_status, "Labor Force Survey Monthly (Employment Status)")

----------------------------------------
Dataset: Labor Force Survey Monthly
----------------------------------------
Shape: (182, 8)

First 5 rows:
         date       lf  lf_employed  lf_unemployed  lf_outside  p_rate  \
0  2010-01-01  12367.9      11931.2          436.7      6927.5    64.1
1  2010-02-01  12059.8      11632.3          427.4      7225.1    62.5
2  2010-03-01  12324.2      11895.9          428.3      6993.0    63.8
3  2010-04-01  12512.0      12133.5          378.5      6894.5    64.5
4  2010-05-01  12197.6      11798.9          398.7      7186.0    62.9

   ep_ratio  u_rate
0      61.8     3.5
1      60.3     3.5
2      61.6     3.5
3      62.5     3.0
4      60.9     3.3

Data types:
date              object
lf               float64
lf_employed      float64
lf_unemployed    float64
lf_outside       float64
p_rate           float64
ep_ratio         float64
u_rate           float64
dtype: object

Basic statistics:
                 lf   lf_employed  lf_unemployed   lf_outside      p_rate  \
count    182.000000    182.000000     182.000000   182.000000  182.000000
mean   15017.708242  14497.406593     520.302747  7096.323077   67.790110
std     1414.231339   1335.948830     109.607391   185.216337    1.853118
min    12059.800000  11632.300000     346.800000  6557.300000   62.500000
25%    14209.300000  13770.200000     431.850000  6958.075000   67.600000
50%    15028.900000  14516.650000     511.800000  7118.750000   68.100000
75%    16080.100000  15340.700000     567.500000  7231.600000   68.700000
max    17293.800000  16747.000000     826.100000  7475.400000   70.700000

         ep_ratio      u_rate
count  182.000000  182.000000
mean    65.455495    3.436813
std      1.731077    0.525396
min     60.300000    2.600000
25%     65.000000    3.125000
50%     65.650000    3.300000
75%     66.300000    3.500000
max     68.500000    5.300000

Missing values:
date             0
lf               0
lf_employed      0
lf_unemployed    0
lf_outside       0
p_rate           0
ep_ratio         0
u_rate           0
dtype: int64
----------------------------------------


----------------------------------------
Dataset: Labor Force Survey Monthly (Seasonally Adjusted)
----------------------------------------
Shape: (182, 6)

First 5 rows:
         date       lf  lf_employed  lf_unemployed  p_rate  u_rate
0  2010-01-01  12368.0      11959.8          408.2    64.0     3.3
1  2010-02-01  12120.1      11712.8          402.2    62.9     3.3
2  2010-03-01  12242.4      11817.2          416.7    63.4     3.4
3  2010-04-01  12382.1      12025.3          377.6    63.8     3.0
4  2010-05-01  12197.5      11790.7          405.7    63.0     3.3

Data types:
date              object
lf               float64
lf_employed      float64
lf_unemployed    float64
p_rate           float64
u_rate           float64
dtype: object

Basic statistics:
                 lf   lf_employed  lf_unemployed      p_rate      u_rate
count    182.000000    182.000000     182.000000  182.000000  182.000000
mean   15017.300000  14497.163187     520.221429   67.794505    3.436264
std     1414.966479   1336.146891     109.609535    1.849107    0.522957
min    12120.100000  11712.800000     357.200000   62.900000    2.600000
25%    14219.300000  13761.450000     425.550000   67.525000    3.125000
50%    15021.800000  14504.800000     513.150000   68.100000    3.300000
75%    16095.325000  15347.850000     565.775000   68.800000    3.500000
max    17285.900000  16765.800000     815.000000   70.700000    5.200000

Missing values:
date             0
lf               0
lf_employed      0
lf_unemployed    0
p_rate           0
u_rate           0
dtype: int64
----------------------------------------


----------------------------------------
Dataset: Labor Force Survey Monthly (Youth)
----------------------------------------
Shape: (110, 5)

First 5 rows:
         date  unemployed_15_24  u_rate_15_24  unemployed_15_30  u_rate_15_30
0  2016-01-01             283.6          10.7             402.8           6.9
1  2016-02-01             236.1           9.0             340.6           5.7
2  2016-03-01             285.0          10.9             416.1           7.0
3  2016-04-01             305.6          11.5             405.7           6.9
4  2016-05-01             291.6          11.1             395.2           6.8

Data types:
date                 object
unemployed_15_24    float64
u_rate_15_24        float64
unemployed_15_30    float64
u_rate_15_30        float64
dtype: object

Basic statistics:
       unemployed_15_24  u_rate_15_24  unemployed_15_30  u_rate_15_30
count        110.000000    110.000000        110.000000    110.000000
mean         307.860000     11.496364        446.658182      7.248182
std           27.022343      1.264978         49.222702      0.937078
min          236.100000      9.000000        340.600000      5.700000
25%          290.700000     10.500000        413.400000      6.600000
50%          306.250000     11.200000        432.600000      6.900000
75%          325.175000     12.200000        475.450000      7.475000
max          367.700000     14.200000        581.700000     10.000000

Missing values:
date                0
unemployed_15_24    0
u_rate_15_24        0
unemployed_15_30    0
u_rate_15_30        0
dtype: int64
----------------------------------------


----------------------------------------
Dataset: Labor Force Survey Monthly (Unemployment Duration)
----------------------------------------
Shape: (110, 8)

First 5 rows:
         date  unemployed  unemployed_active  unemployed_active_3mo  \
0  2016-01-01       501.5              361.9                  180.3
1  2016-02-01       506.4              254.0                  115.8
2  2016-03-01       509.5              332.8                  176.8
3  2016-04-01       511.5              328.0                  170.6
4  2016-05-01       504.8              297.3                  153.6

   unemployed_active_6mo  unemployed_active_12mo  unemployed_active_long  \
0                  110.0                    36.0                    35.6
1                   83.7                    34.9                    19.6
2                   92.9                    44.8                    18.3
3                   93.3                    43.9                    20.2
4                   92.5                    37.6                    13.6

   unemployed_inactive
0                139.7
1                252.4
2                176.7
3                183.4
4                207.6

Data types:
date                       object
unemployed                float64
unemployed_active         float64
unemployed_active_3mo     float64
unemployed_active_6mo     float64
unemployed_active_12mo    float64
unemployed_active_long    float64
unemployed_inactive       float64
dtype: object

Basic statistics:
       unemployed  unemployed_active  unemployed_active_3mo  \
count  110.000000         110.000000             110.000000
mean   585.330909         439.838182             233.415455
std     91.518514         108.775547              73.613294
min    501.500000         254.000000             110.900000
25%    514.575000         345.450000             156.650000
50%    553.350000         438.100000             271.400000
75%    618.525000         504.625000             298.700000
max    826.100000         657.200000             351.400000

       unemployed_active_6mo  unemployed_active_12mo  unemployed_active_long  \
count             110.000000              110.000000              110.000000
mean              112.558182               56.854545               37.006364
std                25.456397               15.496609               13.264800
min                74.700000               34.300000               13.600000
25%                93.125000               46.850000               28.825000
50%               105.650000               51.100000               31.500000
75%               128.075000               66.075000               44.025000
max               175.900000               92.000000               73.100000

       unemployed_inactive
count           110.000000
mean            145.491818
std              40.836618
min              96.000000
25%             114.125000
50%             126.600000
75%             176.425000
max             319.000000

Missing values:
date                      0
unemployed                0
unemployed_active         0
unemployed_active_3mo     0
unemployed_active_6mo     0
unemployed_active_12mo    0
unemployed_active_long    0
unemployed_inactive       0
dtype: int64
----------------------------------------


----------------------------------------
Dataset: Labor Force Survey Monthly (Employment Status)
----------------------------------------
Shape: (220, 7)

First 5 rows:
  variable        date  employed  employed_employer  employed_employee  \
0  persons  2016-01-01   14188.7              449.0            10534.1
1  persons  2016-02-01   14202.8              543.9            10582.3
2  persons  2016-03-01   14187.5              539.4            10381.2
3  persons  2016-04-01   14166.4              456.2            10280.6
4  persons  2016-05-01   14217.7              532.0            10407.9

   employed_own_account  employed_unpaid_family
0                2570.3                   597.1
1                2437.5                   633.1
2                2660.3                   619.7
3                2805.9                   621.1
4                2573.1                   687.1

Data types:
variable                   object
date                       object
employed                  float64
employed_employer         float64
employed_employee         float64
employed_own_account      float64
employed_unpaid_family    float64
dtype: object

Basic statistics:
           employed  employed_employer  employed_employee  \
count    220.000000         220.000000          220.00000
mean    7734.665000         269.155182         5812.51450
std     7671.773425         268.806764         5771.71981
min      100.000000           2.760000           71.47000
25%      100.000000           3.460000           75.22000
50%     7133.200000         203.070000         5179.22000
75%    15242.950000         544.200000        11674.45000
max    16765.800000         646.000000        12587.30000

       employed_own_account  employed_unpaid_family
count            220.000000              220.000000
mean            1372.297318              280.580000
std             1366.489895              283.277611
min               15.730000                2.770000
25%               17.877500                3.597500
50%             1165.705000              220.600000
75%             2726.400000              543.050000
max             3127.800000              732.600000

Missing values:
variable                  0
date                      0
employed                  0
employed_employer         0
employed_employee         0
employed_own_account      0
employed_unpaid_family    0
dtype: int64
----------------------------------------

# Data Preprocessing for Time Series Analysis

In [ ]:

def preprocess_time_series(df, date_col='date'):
    """
    Preprocess dataframe for time series analysis:
    - Convert date column to datetime
    - Set date as index
    - Sort by date
    """
    # Create a copy dataframe
    df_processed = df.copy()

    # Convert date string to datetime object
    df_processed[date_col] = pd.to_datetime(df_processed[date_col])

    # Set date as index
    df_processed.set_index(date_col, inplace=True)

    # Sort index
    df_processed.sort_index(inplace=True)

    return df_processed

# Process each dataset
lfs_month_ts = preprocess_time_series(lfs_month)
lfs_month_sa_ts = preprocess_time_series(lfs_month_sa)
lfs_month_youth_ts = preprocess_time_series(lfs_month_youth)
lfs_month_duration_ts = preprocess_time_series(lfs_month_duration)

# For status dataset, handling the variable column
if 'variable' in lfs_month_status.columns:
    
    # Checking unique values in variable column
    print("Unique values in variable column:", lfs_month_status['variable'].unique())

    if len(lfs_month_status['variable'].unique()) == 1:
        lfs_month_status = lfs_month_status.drop('variable', axis=1)
        lfs_month_status_ts = preprocess_time_series(lfs_month_status)
    else:
        # Handling multiple values by processing each separately
        unique_vars = lfs_month_status['variable'].unique()
        lfs_month_status_ts = {}

        for var in unique_vars:
            subset = lfs_month_status[lfs_month_status['variable'] == var].drop('variable', axis=1)
            lfs_month_status_ts[var] = preprocess_time_series(subset)

        print(f"Created {len(unique_vars)} separate dataframes for status data")
else:
    lfs_month_status_ts = preprocess_time_series(lfs_month_status)

# Printing information about the processed datasets
print("Time series datasets created with datetime index")
for name, df in zip(['lfs_month', 'lfs_month_sa', 'lfs_month_youth', 'lfs_month_duration'],
                    [lfs_month_ts, lfs_month_sa_ts, lfs_month_youth_ts, lfs_month_duration_ts]):
    print(f"{name}: {df.shape} rows from {df.index.min()} to {df.index.max()}")

Unique values in variable column: ['persons' 'share']
Created 2 separate dataframes for status data
Time series datasets created with datetime index
lfs_month: (182, 7) rows from 2010-01-01 00:00:00 to 2025-02-01 00:00:00
lfs_month_sa: (182, 5) rows from 2010-01-01 00:00:00 to 2025-02-01 00:00:00
lfs_month_youth: (110, 4) rows from 2016-01-01 00:00:00 to 2025-02-01 00:00:00
lfs_month_duration: (110, 7) rows from 2016-01-01 00:00:00 to 2025-02-01 00:00:00